#team-title {
    text-align: center;
}

/*Header*/
.navbar-custom {
    background-color: #2d3185;
  }
  
  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand {
    color: white;
  }
  
  .navbar-toggler {
    border-color: white;
  }

.everyone {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.member-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
    max-width: 500px;
    overflow: visible; 
}

.member {
    position: relative;
    width: 150px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 1;
}

.member-avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.member-language {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.controls {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

button:hover {
    background-color: #6d84c5;
}

.more-button {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 50px;
}

.dot-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    width: 80%; 
    max-width: 800px; 
    margin: 20px auto;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}

.dot.active {
    background-color: #534caf;
}
.contact {
    text-align: center;
}

.footer {
    background-color: #2d3185;
    text-align: center;
    padding: 30px;
    font-size: 14px;
    color: white;
}