<nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">Computer Science & Engineering Club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/index.html#projects">Project</a></li>
                <li class="nav-item"><a class="nav-link" href="/index.html#aboutUs">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/Page/teammember.html">Member</a></li>
                <li class="nav-item"><a class="nav-link" href="https://engage.ctstate.edu/organization/macsec"
                        target="_blank" rel="noopener">Join Us</a></li>
            </ul>
        </div>
    </div>
</nav>